// colors
$accentColor = #3eaf7c
$textColor = #2c3e50
$activeTextColor = #ffffff
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 200px
$contentWidth = 740px
$catalogueWidth = 600px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

$slideBarZIndex = 99999

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile php

$contentClass = '.theme-blog-content'

@import '~@temp/palette.styl'