@require './config'
// $tipBorderColor = #42b983
$tipBorderColor = $accentColor
$warningBorderColor = #ffe564
$dangerBorderColor = #ff0000

.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
  &.tip
    background-color #f3f5f7
    border-color $tipBorderColor
  &.warning
    background-color #625A33
    border-color darken($warningBorderColor, 35%)
    color darken($warningBorderColor, 70%)
    .custom-block-title
      color darken($warningBorderColor, 50%)
    a
      color $textColor
  &.danger
    background-color #ffe6e6
    border-color darken($dangerBorderColor, 20%)
    color darken($dangerBorderColor, 70%)
    .custom-block-title
      color darken($dangerBorderColor, 40%)
    a
      color $textColor