@require './config'

@media (min-width: $MQNarrow)
  #Layout,.tagsPage
    padding-left 130px
  #BlogContent.hasHeaders
    padding-right $sidebarWidth * 0.8
  #catalogue-list
    margin-top $navbarHeight
    .tagsPage &
      margin-top ($navbarHeight / 2)

@media (max-width: $MQNarrow)
  #about,#Outline
    display none
  
