@require './config'

.catalogue-item, .tagsList
  .tag
    display inline-block
    padding 1px 5px
    color #ffffff
    background $accentColor
    font-size 10px
    margin-right 5px
    margin-bottom 5px
    border-radius 5px

.tagsPage
  max-width $catalogueWidth
  margin 0 auto
  padding-top $navbarHeight * 2